# ==========================================
# DEPENDÊNCIAS (O mais importante)
# ==========================================
node_modules/

# ==========================================
# VARIÁVEIS DE AMBIENTE (Segurança Máxima)
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# LOGS
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# ==========================================
# BANCO DE DADOS LOCAL (Prevenção)
# ==========================================
*.db
*.db-journal

# ==========================================
# ARQUIVOS DE SO E EDITORES DE CÓDIGO
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/